# FOR LOOP

In [2]:
num = 12

print(num * 1)
print(num * 2)
print(num * 3)
print(num * 4)
print(num * 5)
print(num * 6)
print(num * 7)
print(num * 8)
print(num * 9)
print(num * 10)

12
24
36
48
60
72
84
96
108
120

In [3]:
num = 15

print(num, "X" , 1 , ' = ',num * 1)
print(num, "X" , 2 , ' = ',num * 2)
print(num, "X" , 3 , ' = ',num * 3)
print(num * 4)
print(num * 5)
print(num * 6)
print(num * 7)
print(num * 8)
print(num * 9)
print(num * 10)

15 X 1  =  15
15 X 2  =  30
15 X 3  =  45
60
75
90
105
120
135
150

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
num = 12

for i in range(1,11):
    
    print(num*i)

12
24
36
48
60
72
84
96
108
120

In [9]:
num = 12

for i in range(1,11):
    
    print(i, '*' ,num ,'=' ,num*i)

1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120

In [10]:
for i in range(1,100,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [11]:
for i in range(100,1,-4):
    print(i)

100
96
92
88
84
80
76
72
68
64
60
56
52
48
44
40
36
32
28
24
20
16
12
8
4